
h1{
    background-color: blue;
    color:rgb(226, 214, 168);
    text-align: center;
    padding:20px;
}
#navv li{
    display: inline;
    padding: 10px;
   
}
#navv{
     text-decoration: none;
     list-style-type: none;

}
#container1{
    width: 850px;
    float: left;
    
}

#container2{
    width: 250px;
    height: 100px;
    position: relative;
    float: right; 
    margin-top: 20px;
    margin-right: 100px;
  
}

